<h1>INDEX</h1>

<div id="seamanBox">
  <% @users.each do |user| %>
      <div class="userBox"><%= user.email %></div>
      <div class="boatBox"><%= user.boats %><br>
      </div><br>
  <% end %>
</div>
