<h1>Boats#show</h1>
<p>Find me in app/views/boats/show.html.erb</p>
<br>
<h2>Job:</h2>
<h2>Containers Needed:</h2>
<h2>Cargo:</h2>
<h2>Origin:</h2>
<h2>Cost for Job:</h2>
<h2>Destination:</h2>
<br>
<h5>Create new Job</h5>